@media only screen and (max-width: 640px) {
  .ant-anchor {
    flex-direction: column;
  }
}

.ant-anchor-link-title-active {
  position: relative;
  color: rgb(185, 28, 28);
}

.ant-anchor-link-title-active::after {
  position: absolute;
  content: " ";
  top: 160%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(153, 27, 27);
}
